@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* overcome chrome bug for webfonts - http://stackoverflow.com/questions/22011139/google-fonts-are-not-rendering-on-google-chrome */
@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

* {
    padding: 0;
    margin: 0;
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    font-family: 'Open Sans', sans-serif;
}

::-moz-selection, ::selection {
    background: #224CA1;
    color: #fff;
    text-shadow: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

a:link, a:visited, a:active {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: #FA8500;
    text-decoration: none;
}

html {
    color: #333;
    font-size: 1em;
    line-height: 1.4em;
}

body {
    width: 100%;
    background: #fff;
    
    /* overcome chrome bug for webfonts - http://stackoverflow.com/questions/22011139/google-fonts-are-not-rendering-on-google-chrome */
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.clearfix {
    clear: both;
}

#page-header {
    background: #f9f9f9;
    border-bottom: 1px solid #ccc;
    padding: 0.7em 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#brand {
    display: inline-block;
    margin-right: 2em;
}

#brand a:link, #brand a:visited, #brand a:active, #brand a:hover {
    text-decoration: none;
    color: #777;
    font-weight: bold;
}

nav ul {
    display: inline-block;
}

nav ul li {
    display: inline-block;
}

nav ul li.active {
    border-bottom: 1px dashed #777;
}

nav ul li.active a {
    color: #FA8500;
}

nav ul li:not(:last-of-type) {    
    margin-right: 2em;
}

#main-content-wrapper {
    margin: 2em 0;
}

#main-content {
    text-align: justify;
}

aside {
    margin: 2em 0;
}

.box header {
    border-bottom: 1px solid #eee;
    margin-bottom: 0.7em;
    font-size: 110%;
}

footer {
    border-top: 1px solid #eee;
    padding: 0.5em 0;
    font-size: 80%;
}

#toc .toc-h3 {
    padding-left: 1em;
}

#toc .toc-h4 {
    padding-left: 2em;
}

#toc .toc-active a {
    color: #FA8500;
}

@media screen and (min-width: 1000px) {

    aside {
        position: fixed;
        width: 18%;
        right: 5%;
    }

    #main-content-wrapper {
        float: left;
        width: 80%;
    }

    #main-content {
        padding-right: 3em !important;
    }

}
