.sol-container {
	display: inline-block;
}

.sol-input-container {
	border: 1px solid #ccc;
	background-color: #fff;
	height: 32px;
	line-height: 30px;
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}

.sol-container.sol-active .sol-input-container {
	position: relative;
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

.sol-input-container>input {
    background-color: transparent;
	height: 30px;
	padding: 0 7px;
	margin: 0;
	float: left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.sol-input-container>input:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    outline: none;
}

.sol-container.sol-active .sol-input-container>input {
    border-bottom-right-radius: 0;
}

.sol-caret-container {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 30px;
}

.sol-caret-container b {
	position: absolute;
	top: 13px;
	left: 6px;
}

.sol-caret-container b.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.sol-selection-container {
	display: none;
	position: absolute;
	top: 100%;
	left: -1px;
	float: left;
	background: #fff;
	border: 1px solid #ddf;
	z-index: 99999;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	border-top-left-radius: 0;
    border-bottom-right-radius: 0;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.sol-container.sol-active .sol-selection-container {
	display: block;
    position: fixed;
    left: inherit;
    top: inherit;
    z-index: 2;
}

.sol-option {
    padding: 5px 10px;
	display: block;
}

.sol-selection:not(.sol-keyboard-navigation) .sol-option:hover, .sol-option.keyboard-selection {
    background: #0088CC;
    color: #fff;
}

.sol-label {
	display: block;
    position: relative;
}

.sol-label-text {
    padding-left: 20px;
    line-height: 1.2em;
}

.sol-checkbox, .sol-radio {
    position: absolute;
	width: 13px !important;
	height: 13px !important;
	padding: 0 !important;
	margin: 0 !important;
	top: 4px;
}

.sol-optiongroup {
	background: #f7f7f7;
    padding-bottom: 1px;
}

.sol-optiongroup-label {
    color: #555;
    background: #eee;
	font-weight: bold;
    margin-bottom: 5px;
    padding: 0 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.sol-optiongroup.disabled {
	color: #999;
}

.sol-no-results {
    color: #999;
    font-style: italic;
    text-align: center;
}

.sol-filtered-search {
    display: none;
}

.sol-action-buttons {
    line-height: 20px;
    color: #555;
    background: #eee;
    padding: 7px 10px;
    border-bottom: 1px solid #ccc;
    -webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.sol-action-buttons a {
    text-decoration: none;
    color: #0088CC;
    border-bottom: 1px solid transparent;
}

.sol-action-buttons a:hover {
    border-bottom: 1px solid #0088CC;
}

.sol-select-all {
    float: left;
}

.sol-deselect-all {
    float: right;
}

.sol-clearfix {
    clear: both;
}

.sol-selected-display-item {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #ccc;
    background: #f7f7f9;
    font-size: 0.9em;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.sol-quick-delete {
    color: #777;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    padding-right: 5px;
    padding-left: 1px;
}

.sol-quick-delete:hover {
    color: #111;
    cursor: pointer;
}

.sol-current-selection {
    padding: 5px 0;
}

.sol-selection {
    overflow: auto;
    position: relative;
}

.sol-selection div:first-child.sol-optiongroup > .sol-optiongroup-label {
    border-top: none;
}
