<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ site.baseurl}}/css/styles.css">
        <link rel="stylesheet" href="{{ site.baseurl}}/css/syntax.css">
        <link rel="stylesheet" href="{{ site.baseurl}}/css/github-markdown.css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl}}/js/jquery.toc.js"></script>

        {% if page.includeSol %}
            <link rel="stylesheet" href="{{ site.baseurl}}/css/searchableOptionList.min.css">
            <script type="text/javascript" src="{{ site.baseurl}}/js/searchableOptionList.min.js"></script>
        {% endif %}

        <title>Searchable Option List (jQuery plugin) - {{ page.title }}</title>
    </head>
    <body>
        <header id="page-header">
           <nav role="navigation" class="wrapper">
               <span id="brand"><a href="{{ site.baseurl }}/">Searchable Option List</a></span>
               <ul>
                    {% for userpage in site.pages_list %}
                        {% if page.tabId == userpage.tabId %}
                            <li class="active"><a href="{{ userpage.link }}">{{ userpage.title }}</a></li>
                        {% else %}
                            <li><a href="{{ userpage.link }}">{{ userpage.title }}</a></li>
                        {% endif %}
                    {% endfor %}
               </ul>
           </nav>
        </header>
       
        <div class="wrapper">
            <div id="main-content-wrapper">
                <div id="main-content" class="markdown-body">{{ content }}</div>
            </div>    
            
            <aside>

                <div class="box">
                    <header>Links</header>
                    <ul>
                        <li><a href="#">Github page</a></li>
                        <li><a href="#">Download latest version</a></li>
                    </ul>
                </div>

            </aside>

            <div class="clearfix"></div>
        </div>
       
        <footer class="wrapper">
           &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </footer>
    </body>
</html>
